<a href="https://www.viharatech.com"><img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*on2Bpj6A5gfd-CzaFOAZRA.jpeg"></a>


- `Welcome to our interactive learning session! In this Jupyter notebook, you'll find a series of questions related to Python Tuple Concept. To maximize your learning, please write Python code in the cell below each question and execute it. This hands-on practice will help reinforce your understanding of the concepts. Feel free to reach out if you have any questions or need assistance. Happy coding! üíªüêç `

### Question 1: Write a Python program to create an empty tuple.


- `sample input : `
    - `var = (10,11,15,20)`
- `sample output :`
    - `result :()`

In [16]:
# Please write The solution Here for above question 1:
var = (10,11,15,20)
a = list(var)
a.clear()
var = tuple(a)
print(str(var))

()

### Question 2: Write a Python program to access the elements of a tuple.

- `sample input : `
    - `var = (10,15,20,40,55)`
- `sample output :`
    - `result : Access using Techniques available ex: 20 can be accessed with there memory allocation `

In [2]:
# Please write The solution Here for above question 2:

### Question 3: Write a Python program to concatenate two tuples.

Sample Input 1:

    Tuple 1: (1, 2, 3)
    Tuple 2: (4, 5, 6)

Sample Output 1:

    Concatenated Tuple: (1, 2, 3, 4, 5, 6)

Sample Input 2:

    Tuple 1: ("apple", "banana")
    Tuple 2: ("cherry", "date")

Sample Output 2:

    Concatenated Tuple: ("apple", "banana", "cherry", "date")

In [18]:
# Please write The solution Here for above question 3:
a = (1, 2, 3)
b = (4, 5, 6)
res = a + b
print( str(res))

(1, 2, 3, 4, 5, 6)

### Question 4: Write a Python program to access the first and last elements of a tuple.

- `Sample Input: (1, 2, 3, 4, 5)`


- `Sample Output: First Element: 1, Last Element: 5`

In [27]:
# lease write The solution Here for above question 4:

a = (1, 2, 3, 4, 5)
res1 = (a[0])
res2 = (a[4])
print(" Frist Element : " + str(res1) , "Last Element :" + str(res2))

 Frist Element : 1 Last Element :5

### Question 5: Write a Python program to reverse a tuple.

- `Sample Input: (5, 4, 3, 2, 1)`
- `Sample Output: (1, 2, 3, 4, 5)`

In [28]:
# Please write The solution Here for above question 5:
a= (5,4,3,2,1)
b= reversed(a)
print(tuple(b))

(1, 2, 3, 4, 5)

### Question 6: Write a Python program to find the maximum and minimum elements of a tuple.

- `Sample Input: (15, 25, 10, 30, 20)`
- `Sample Output: Maximum: 30, Minimum: 10`

In [34]:
# Please write The solution Here for above question 6:
a=(15, 25, 10, 30, 20)
b=max(a)
c=min(a)
print("Maximum:" +str(b),"Minimum:" +str(c))

Maximum:30 Minimum:10

### Question 7: Write a Python program to remove an element from a tuple.

- `Sample Input: (1, 2, 3, 4, 5), 3`
- `Sample Output: (1, 2, 4, 5)`

In [51]:
# Please write The solution Here for above question 7:
a = (1,2,3,4,5)
print(a[::2])

(1, 3, 5)

### Question 8: Write a Python program to convert a list of tuples into a dictionary.

- `Sample Input: [(1, "one"), (2, "two"), (3, "three")]`
- `Sample Output: {1: 'one', 2: 'two', 3: 'three'}`

In [53]:
# Please write The solution Here for above question 8:
a=[(1,"one"),(2,"two"),(3,"three")]
b=dict(a)
print(b)

{1: 'one', 2: 'two', 3: 'three'}

### Question 9: Write a Python program to find the intersection of two tuples.

- `Sample Input: (1, 2, 3, 4, 5), (4, 5, 6, 7, 8)`
- `Sample Output: (4, 5)`

In [61]:
# Please write The solution Here for above question 9:
def intersection_list(a,b):  
   return list(set(a) & set(b))  
  
a = (1, 2, 3, 4, 5)
b = (4, 5, 6, 7, 8)
  
print(intersection_list(a,b))

[4, 5]

### Question 10: Write a Python program to sort a tuple of tuples by the second element of each tuple.

- `Sample Input: ((1, 5), (3, 2), (2, 7), (4, 6))`
- `Sample Output: ((3, 2), (1, 5), (4, 6), (2, 7)`

In [ ]:
# Please write The solution Here for above question 10: